.themeRed {
    background-color: #e42f66 !important;
     color: #fff !important;
}
.themeLime{
    background-color: #C6D148 !important;
    color: #fff !important;
}
.themeLime1{
    background-color: #C7EA46 !important;
    color: #fff !important;
}
.themeLime2{
    background-color: #39ff14 !important;
    color: #fff !important;
}
.themePurple {
    background-color: #563d7c !important;
}
.themeGreen {
    background-color: #3ac47d !important;
}
.themeblackShade {
    background-color: #444054 !important
}
.themedark {
    background: #343a40 !important
}
.switchTheme {
    width: 40px;
    height: 40px;
    margin: 6px;
}